<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjJk2DL2-OtFb_qQAnDykwbvqkc82iuX4</string>
	<key>GCM_SENDER_ID</key>
	<string>975822733387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meding.aldevmus</string>
	<key>PROJECT_ID</key>
	<string>meding-aldevmus</string>
	<key>STORAGE_BUCKET</key>
	<string>meding-aldevmus.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975822733387:ios:6a5d4856557806035a0dce</string>
</dict>
</plist>